{% extends 'base.html' %} {% block title %}Listado de EDP{% endblock %} {% block
content %}
<h2 class="text-lg font-bold mb-4">Listado de EDPs</h2>
<table class="table-auto border text-sm">
  <thead>
    <tr>
      {% for col in rows[0].keys() %}
      <th class="border px-2">{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row.values() %}
      <td class="border px-2">{{ value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
